.cards-usuarios{
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-usuario{
    margin: 0.4rem;
    width: 359px;
    height: 175px;
    background-color: #C82E2E;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-usuario .informacao{
    width: 100%;
    color: #ffff;
    margin-left: 0.5rem;
    padding: 0;
    list-style: none;
}

.card-usuario .info-usuario{
    width: 100%;
    color: #ffff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    list-style: none;
}